.body {
    background-image: url("./assets/starrynight.jpg");


}

.input-wrap{
    width: 300px;
  margin: 0 auto;
  color: goldenrod;
}


#charContainer {
     border-style: solid;
    border-width: thin;
    border-color: goldenrod;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    
    width: 60%;
    /* height: 100%; */
    background-color: rgb(5, 2, 31);
    gap: 20px;
    overflow-y: auto;
    scrollbar-width: none;
}

.char-image {
height: 100px;
width: 100px;
border-radius: 25px;


}

.char-img {
  transition: transform 0.3s ease;
}

.character-card:hover img {
  transform: scale(1.05);
}

.card {
   padding: 20px;
    background-color: rgb(5, 1, 32);
    border-style: solid;
    border-width: thin;
    border-color: goldenrod;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}


.liked-container {
    display: flex;
    background-color: rgb(6, 1, 33);
    width: 100%;
    height: 100%;
    gap: 20px;

}

.chartwo-image {
    height: 50px;
    width: 50px;
}

.liked-card {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: rgb(251, 251, 252);
}

.spell-container {
    margin-top: 10px;
    background-color: rgb(9, 2, 35);
    border-style: solid;
    border-width: thin;
    border-color: goldenrod;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    
    width: 70%;
    color: goldenrod;
    border-radius: 20px;
    gap:10px;
    padding: 5px;
}

.heading-wrap {
    color: goldenrod;
    text-align: center;
    display: flex;
}
.spell-button {
    
    width: 30%;
    border-radius: 25px;
    background-color: rgb(1, 1, 29);
    color: aliceblue;
}

.spells{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.house-container {
    width:100%;
    display: flex;
background-color: rgb(9, 2, 36);
gap: 10px;
}

.house-card {
background-color: aliceblue;
width: 100px;

}

.house-standing {
    padding: 20px;
    text-align: center;
    border-radius: 25px;
   color: goldenrod;
    width: 400px;
    height: auto;
   background-color: rgb(11, 3, 42);
   border-style: solid;
    border-width: thin;
    border-color: goldenrod;
    border-radius: 25px;
}

.main {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
}

.hogwart-manager {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    border-color: goldenrod;
    border-radius: 25px;
    background-color: rgb(5, 1, 22);
    width: 20%; 
    /* height: 100%;  */
    color: goldenrod;
}

.griff {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 12, 12);
    width: 100%;
    border-style: solid;
    border-width: thin;
    border-color: goldenrod;
    border-radius: 25px;
    color: goldenrod;
    gap: 20px;
}

.slyth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 55, 8);
    border-style: solid;
    border-width: thin;
    border-color: goldenrod;
    border-radius: 25px;
    color: goldenrod;
    gap: 20px;

}

.rav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 37);
    border-style: solid;
    border-width: thin;
    border-color: goldenrod;
    border-radius: 25px;
    color: goldenrod;
    gap: 20px;

}

.huff {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    border-style: solid;
    border-width: thin;
    border-color: goldenrod;
    border-radius: 25px;
    color: goldenrod;

}

.house-img {
    width:100px;
    height: 100px;
}

.minus-btn {
    background-color: red;
}

.add-btn {
    background-color: rgb(16, 114, 3);
}

button {
    border-radius: 25px;
}

.nav {
     border-style: solid;
    border-width: thin;
    border-color: goldenrod;
    border-radius: 25px;
    display: flex;
  
    
    
    padding: 50px;
    gap: 700px;
    height: 150px;
    color: goldenrod;
}

.hidden {
    display: none;
}

.book-container {
    margin-top: 10px;
    width: 40%;
    /* max-height: 300px; */
    border-style: solid;
    border-width: thin;
    border-color: goldenrod;
    border-radius: 25px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 37);
    color: goldenrod;
}

.book-container h1 {
    text-align: center;
}

.book-wrap {
    display: flex;
   flex-wrap: wrap;
  justify-content: center;
  
    gap: 5px;
}

.book-image {
    height: 100px;
    width: 100px;
}

.spell-book {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    width: 100%;
}

.character-select {
    height: 50px;
    width: 200px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
   background-color: rgb(1, 1, 37);
   color: goldenrod;
}

.navbar div {
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 1, 37);
     border-style: solid;
    border-width: thin;
    border-color: goldenrod;
    border-radius: 25px;
    padding: 10px;
    
}

.navbar label {
    font-weight: bold;
}

.point-leader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

 .timer-div {
   width: 100%;
} 

.total-students {
    width: 100%;
}

